<div class="mx-6">
    <p class="landing-text landing-text-c50 text-center my-20">
        The continued development and maintenance of MudBlazor is secured by our
        sponsors
    </p>

    <div class="flex gap-20 flex-row flex-wrap justify-center">
        <img src="@Assets["sponsors/Adaris.png"]"/>
        <img src="@Assets["sponsors/Balesio.png"]" />
        <img src="@Assets["sponsors/Blackhawk.png"]" />
        <img src="@Assets["sponsors/Lithe.png"]" />
        <img src="@Assets["sponsors/Timewarp.png"]" />
        <img src="@Assets["sponsors/JetBrains.png"]" />
    </div>

    <div class="landing-text landing-text-c50 text-center mt-20">
        Become our sponsors
    </div>
</div>
